.container {
  display: flex;
  height: 100vh;
}

.calendar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  margin-left: 350px;
}

.calendar-content h1 {
  margin-bottom: 40px;
  margin-left: 130px;
  text-align: center;
  align-items: center;
  font-size: 3.5em;
}
.calendar-and-tasks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.calendar-container {
  width: 100%;
  margin-right: 20px;
}

.custom-calendar {
  background-color: #ffffff;
  color: #2c2c2c;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasks-list {
  width: 45%;
  background: #00000088;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.tasks-list ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
}

.tasks-list li {
  background: #2f3840;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.react-calendar__tile {
  color: gray;  
}

.react-calendar__tile--now {
  color: #333; 
  background-color: #f0f0f0; 
  border-radius: 50%;
}

.react-calendar__tile--active {
  color: rgb(0, 0, 0);  
  border-radius: 50%;
}

.react-calendar__tile:hover {
  background-color: rgba(200, 200, 200, 0.3); 
}

.task-dot {
  height: 4px;
  width: 4px;
  background-color: #dc3545; 
  border-radius: 50%;
  margin: 2px auto;
}

.react-calendar__tile--completed .task-dot {
  display: none;
}
.react-calendar__navigation button {
  color: black;  
  font-size: 1em;  
  font-weight: bold;  
}

.react-calendar__navigation button svg {
  fill: black; 
}

.react-calendar__navigation button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}
