.main {
    display: flex;
    min-height: 100vh;
}

.deleted-page {
    align-items: center;
    padding: 20px;
    margin-left: 500px;
}

.deleted-page h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.deleted-page p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.deleted-tasks-list {
    list-style-type: none;
    padding-left: 0;
}

.deleted-task-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.1em;
    color: #333;
}

.deleted-task-item:hover {
    background-color: #f0f0f0;
}

.deleted-tasks-list p {
    font-size: 1.2em;
    color: #aaa;
}
.deleted-page {
    padding: 20px;
  }
  
  .deleted-tasks-list {
    margin-top: 20px;
  }
  
  .deleted-task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .restore-icon {
    font-size: 1.2rem;
    color: rgb(12, 32, 12);
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .restore-icon:hover {
    color: rgb(100, 0, 0);
  }
  