.settings-container {
  display: flex;
  margin-left: 550px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.settings-card {
  background: #fcfcfcae;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width:300px;
  text-align: center;
}

.settings-header {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
}

.profile-view {
  margin-bottom: 20px;
}

.profile-email {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

/* Edit button */
.edit-button {
  background-color: #008cba;
  color: white;
}

.edit-button:hover {
  background-color: #005f75;
}

/* Save button */
.save-button {
  background-color: #4caf50;
  color: white;
}

.save-button:hover {
  background-color: #357a38;
}

/* Logout button */
.logout-button {
  background: #f3f3f39c;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-left: 110px;
}

.logout-button:hover {
  background-color: #e0e0e0;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.input-label {
  font-size: 1em;
  color: #555;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: black;
  background: #f9f9f9;
}

