/* Stickynotes.css */

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.notes-area {
  margin-left: 220px;
  padding: 20px;
}

.note {
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  position: relative;
  width: 200px;
  background-color: var(--note-color, blueviolet); /* Default color */
}

.new-note {
  margin-bottom: 20px;
}

.note_text {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.note_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.note_footer p {
  margin: 0;
}

.note_footer img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
